<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="/lib/jquery-ui-1.9.2.css">
	<script src="/lib/jquery-1.8.3.js"></script>
	<script src="/lib/jquery-ui-1.9.2.js"></script>
	<script src="/lib/jquery.ui.touch-punch.min.js"></script>
	<script src="/lib/ejs.js" type="text/javascript"></script>
	<script src="/lib/jquery.cookie.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/emoticons.js" type="text/javascript"></script>
	<script src="/js/window.js" type="text/javascript"></script>
	<script src="/js/preview.js" type="text/javascript"></script>
	<script src="/js/dialog.js" type="text/javascript"></script>
	<script src="/js/cookie_service.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/css/theme.css">
	<link rel="stylesheet" href="/css/theme-wood.css">
</head>

<script>
	var nick = '';
	var dialogs = {};
	var cookie_service = cookie_service();
	var previewWindow;
	
	function escapeHTML(text) {
		return text.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&#34;");
	}
	
	function unescapeHTML(text) {
		return text.replace(/&amp;/g, "&").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&#34;/g, '"');
	}
	
	function renderMessage(data) {
		var message = data.message;
		if (message && message != null) {
		    // replace angle brackets
			var messageSafe = escapeHTML(message);
		
			// clickable links
			var urlPattern = new RegExp('\\b(https?://[^\\s]+)', 'g');
			var linkMatches = message.match(urlPattern);
			for (var i = 0; i < (linkMatches != null ? linkMatches.length : 0); ++i) {
				var link = linkMatches[i];
				getPreviewWindow().previewLink(link, data);
			}
			
			// emoticons
			var words = messageSafe.split(' ');
			for (var i = 0; i < words.length; ++i) {
				var word = words[i];
				var emoticon = emoticonRegistry.emoticonMap[unescapeHTML(word)];
				if (emoticon) {
					words[i] = '<img src="emoticons/' + emoticon.image + '" title="'+emoticon.name+'" height="'+emoticon.height+'px">';
				}
			}
			messageSafe = words.join(' ');
			
			// clickable links
			messageSafe = messageSafe.replace( urlPattern, '<a href="$1" target="_blank">$1</a>' );
		}
		
		return messageSafe;
	}
	
	function getDialog(name, socket) {
		var dialog = dialogs[name];
		if (!dialog) {
			dialog = dialog_presenter(dialog_model('irc.iz-smart.net', name), dialog_view(), cookie_service, socket);
			dialog.init();
			dialogs[name] = dialog;
		}
		return dialog;
	}
	
	function getPreviewWindow(name, socket) {
		if (!previewWindow) {
			previewWindow = preview_presenter(preview_model('preview', 'Preview', 10), preview_view(), cookie_service);
			previewWindow.init();
		}
		return previewWindow;
	}

	$(document).ready(function() {
		var socket = io.connect('http://' + location.host);

		/*
		socket.on('registered', function (data) {
			nick = data.nick;
		});
		*/
		
		socket.on('resendmessages', function (data) {
			for (var prop in dialogs) {
				dialogs[prop].clear();
			}
		});

		socket.on('message#', function (data) {
			var dialog = getDialog(data.channel, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick"><%= nick %></td><td class="message"><%= message %></td></tr>'});
			dialog.addMessage(data, template, true);
		});
		
		socket.on('action', function (data) {
			var dialog = getDialog(data.to, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">*</td><td class="message"><%= nick %> <%= message %></td></tr>'});
			dialog.addMessage(data, template, true);
		});
		
		socket.on('pm', function (data) {
			var dialog = getDialog(data.target, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick"><%= nick %></td><td class="message"><%= message %></td></tr>'});
			dialog.addMessage(data, template, true);
		});
		
		socket.on('notice', function (data) {
			var dialog = getDialog(data.channel, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">/<%= nick %>/</td><td class="message"><%= message %></td></tr>'});
			dialog.addMessage(data, template, true);
		});
		
		// TODO show private notices as nag bubble
		socket.on('notice-pm', function (data) {
			/*
			var dialog = getDialog(data.nick, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">/<%= nick %>/</td><td class="message"><%= message %></td></tr>'});
			dialog.find('.chatwindow-msgtable').append(template.render(data));
			scrollDown(dialog);
			*/
		});

		socket.on('nick', function (data) {
			for(var i = 0; i < data.channels.length; i++) {
				var channel = data.channels[i];
				var dialog = getDialog(channel, socket);
				var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">*</td><td class="message"><%= oldnick %> is now known as <%= newnick %></td></tr>'});
				dialog.addMessage(data, template, false);
			}
		});
		
		socket.on('join', function (data) {
			var dialog = getDialog(data.channel, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">*</td><td class="message"><%= nick %> joined <%= channel %></td></tr>'});
			dialog.addMessage(data, template, false);
		});
		
		socket.on('part', function (data) {
			var dialog = getDialog(data.channel, socket);
			var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">*</td><td class="message"><%= nick %> parted <%= channel %></td></tr>'});
			dialog.addMessage(data, template, false);
		});
		
		socket.on('quit', function (data) {
			for(var i = 0; i < data.channels.length; i++) {
				var channel = data.channels[i];
				var dialog = dialogs[channel];
				var template = new EJS({text: '<tr><td class="timestamp"><%= timestamp %></td><td class="nick">*</td><td class="message"><%= nick %> has quit (<%= reason %>)</td></tr>'});
				dialog.addMessage(data, template, false);
			}
		});
		
		socket.on('names', function (data) {
		    var dialog = getDialog(data.channel, socket);
			var template = new EJS({text: '<ul><% for (var nick in nicks) { %><li class="nicklistitem"><%= nicks[nick].mode + nicks[nick].nick %></li><% } %></ul>'});
			dialog.nicklistcontainer().html(template.render(data));
		});
		
		socket.on('showdebugcontrols', function (data) {
			$('.initially-hidden').css('display', 'inherit')
		});
		
		var mockButton = $('<button class="initially-hidden">emit mock messages</button>');
		$('#tint').append(mockButton);
		mockButton.click(function() {
			socket.emit('mock', { });
		});
	});
</script>

<body>
<div id="tint"/>
</body>

</html>
